<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Subjects
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-margin ion-no-padding" class="card-background-page">

	<ion-list class="ion-no-margin ion-no-padding">
		<ion-grid>
			<ion-row class="ion-no-margin ion-no-padding">
				<ion-col>
				
					<div class="product-card" (click)="itemSelected(item)">
						<img class="product-img" src="assets/icon/favicon.png" />
						<div class="ion-no-margin ion-no-padding" class="product-detail">
							<div class="card-title">Physics</div>
							<div class="card-subtitle"> </div>
						
						</div>
					</div>
				</ion-col>
        <ion-col>
				
					<div class="product-card" (click)="itemSelected(item)">
						<img class="product-img" src="assets/icon/favicon.png" />
						<div class="ion-no-margin ion-no-padding" class="product-detail">
							<div class="card-title">Maths</div>
							<div class="card-subtitle"> </div>
						
						</div>
					</div>
				</ion-col>
</ion-row>

<ion-row class="ion-no-margin ion-no-padding">
				<ion-col>
				
					<div class="product-card" (click)="itemSelected(item)">
						<img class="product-img" src="assets/icon/favicon.png" />
						<div class="ion-no-margin ion-no-padding" class="product-detail">
							<div class="card-title">English</div>
							<div class="card-subtitle"> </div>
						
						</div>
					</div>
				</ion-col>
        <ion-col>
				
					<div class="product-card" (click)="itemSelected(item)">
						<img class="product-img" src="assets/icon/favicon.png" />
						<div class="ion-no-margin ion-no-padding" class="product-detail">
							<div class="card-title">Tamil</div>
							<div class="card-subtitle"> </div>
						
						</div>
					</div>
				</ion-col>
</ion-row>

<ion-row class="ion-no-margin ion-no-padding">
				<ion-col>
				
					<div class="product-card" (click)="itemSelected(item)">
						<img class="product-img" src="assets/icon/favicon.png" />
						<div class="ion-no-margin ion-no-padding" class="product-detail">
							<div class="card-title">Bio</div>
							<div class="card-subtitle"> </div>
						
						</div>
					</div>
				</ion-col>
        <ion-col>
				
					<div class="product-card" (click)="itemSelected(item)">
						<img class="product-img" src="assets/icon/favicon.png" />
						<div class="ion-no-margin ion-no-padding" class="product-detail">
							<div class="card-title">Social</div>
							<div class="card-subtitle"> </div>
						
						</div>
					</div>
				</ion-col>
</ion-row>
     
		</ion-grid>
	</ion-list>

  <!--<ion-router-outlet></ion-router-outlet>-->
</ion-content>
